{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OBCAST</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="{% static "css/main.css" %}" rel="stylesheet" />
    {% block meta %}

    {% endblock %}
</head>
<body>
    

<!-- hearder an dav  -->
    <header class="shadow-md bg-white tracking-wide relative z-50">
      <section
        class="flex items-center lg:justify-center flex-wrap gap-5 relative py-3 sm:px-10 px-4 border-b border-gray-300 lg:min-h-[75px] max-lg:min-h-[60px]">
        <a href="javascript:void(0)"><img src="{% static "img/logo_carism.png" %}" alt="logo"
          class="md:w-[150px] w-[134px]" />
        </a>

        <div class="space-x-4 md:absolute md:right-10 flex items-center max-md:ml-auto">
          <div class="w-7 h-7 flex items-center justify-center rounded-md text-gray-800 hover:bg-blue-600 hover:text-white transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer w-5 h-5 fill-current transition-all" viewBox="0 0 155.139 155.139">
              <path d="M89.584 155.139V84.378h23.742l3.562-27.585H89.584V39.184c0-7.984 2.208-13.425 13.67-13.425l14.595-.006V1.08C115.325.752 106.661 0 96.577 0 75.52 0 61.104 12.853 61.104 36.452v20.341H37.29v27.585h23.814v70.761h28.48z" data-original="#010002" />
            </svg>
          </div>
          <div class="w-7 h-7 flex items-center justify-center rounded-md text-gray-800 hover:bg-blue-600 hover:text-white transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer w-5 h-5 fill-current transition-all" viewBox="0 0 24 24">
              <path d="M23.994 24v-.001H24v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07V7.976H8.489v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243V24zM.396 7.977h4.976V24H.396zM2.882 0C1.291 0 0 1.291 0 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909A2.884 2.884 0 0 0 2.882 0z" data-original="#000000" />
            </svg>
          </div>
          <div class="w-7 h-7 flex items-center justify-center rounded-md text-gray-800 hover:bg-black hover:text-white transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer w-5 h-5 fill-current transition-all" viewBox="0 0 1226.37 1226.37">
              <path d="M727.348 519.284 1174.075 0h-105.86L680.322 450.887 370.513 0H13.185l468.492 681.821L13.185 1226.37h105.866l409.625-476.152 327.181 476.152h357.328L727.322 519.284zM582.35 687.828l-47.468-67.894-377.686-540.24H319.8l304.797 435.991 47.468 67.894 396.2 566.721H905.661L582.35 687.854z" data-original="#000000" />
            </svg>
          </div>
        </div>
      </section>

      <div class="flex flex-wrap py-3.5 px-10 overflow-x-auto">

        <div id="collapseMenu"
          class="w-full max-lg:hidden lg:!block max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50">
          <button id="toggleClose" class="lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white w-9 h-9 flex items-center justify-center border border-gray-200 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-3.5 fill-black" viewBox="0 0 320.591 320.591">
              <path
                d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                data-original="#000000"></path>
              <path
                d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                data-original="#000000"></path>
            </svg>
          </button>

          <ul
            class="lg:flex lg:justify-center lg:gap-x-10 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50">
            <li class="mb-6 hidden max-lg:block">
              <a href="javascript:void(0)"><img src="https://readymadeui.com/readymadeui.svg" alt="logo" class="w-36" />
              </a>
            </li>
            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3"><a href='javascript:void(0)'
              class="hover:text-blue-700 text-blue-700 font-medium text-[15px] block">Accueil</a></li>
            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3"><a href='javascript:void(0)'
              class="hover:text-blue-700 text-slate-900 font-medium text-[15px] block">Podcasts</a></li>
            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3"><a href='javascript:void(0)'
              class="hover:text-blue-700 text-slate-900 font-medium text-[15px] block">Analyses</a></li>
            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3"><a href='javascript:void(0)'
              class="hover:text-blue-700 text-slate-900 font-medium text-[15px] block">Recherche avancée</a></li>
            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3"><a href='javascript:void(0)'
              class="hover:text-blue-700 text-slate-900 font-medium text-[15px] block">Téléchargement</a></li>
            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3"><a href='javascript:void(0)'
              class="hover:text-blue-700 text-slate-900 font-medium text-[15px] block">À propos</a></li>
            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3"><a href='javascript:void(0)'
              class="hover:text-blue-700 text-slate-900 font-medium text-[15px] block">Contact</a></li>
          </ul>
        </div>

        <div class="flex ml-auto lg:hidden">
          <button id="toggleOpen" class="cursor-pointer">
            <svg class="w-7 h-7" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
    </header>




    {% block content %}

    {% endblock %}





    {% comment %} footer {% endcomment %}
    <footer class="bg-gray-900 pt-12 pb-8 px-10 tracking-wide">
      <div class="max-w-screen-xl mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
          <div class="lg:flex lg:items-center">
            <a href="javascript:void(0)">
              <img src="{% static "img/logo_carism.png" %}" alt="logo" class="w-48" />
            </a>
          </div>

          <div class="lg:flex lg:items-center">
            <ul class="flex space-x-6">
            <li>
              <a href='javascript:void(0)'>
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-blue-600 w-8 h-8" viewBox="0 0 49.652 49.652">
                  <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zM31 25.7h-4.039v14.396h-5.985V25.7h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56z" data-original="#000000" />
                </svg>
              </a>
            </li>
            <li>
              <a href='javascript:void(0)'>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 112.196 112.196">
                  <circle cx="56.098" cy="56.097" r="56.098" fill="#007ab9" data-original="#007ab9" />
                  <path fill="#fff" d="M89.616 60.611v23.128H76.207V62.161c0-5.418-1.936-9.118-6.791-9.118-3.705 0-5.906 2.491-6.878 4.903-.353.862-.444 2.059-.444 3.268v22.524h-13.41s.18-36.546 0-40.329h13.411v5.715c-.027.045-.065.089-.089.132h.089v-.132c1.782-2.742 4.96-6.662 12.085-6.662 8.822 0 15.436 5.764 15.436 18.149zm-54.96-36.642c-4.587 0-7.588 3.011-7.588 6.967 0 3.872 2.914 6.97 7.412 6.97h.087c4.677 0 7.585-3.098 7.585-6.97-.089-3.956-2.908-6.967-7.496-6.967zm-6.791 59.77H41.27v-40.33H27.865v40.33z" data-original="#f1f2f2" />
                </svg>
              </a>
            </li>
            <li>
              <a href='javascript:void(0)'>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 152 152">
                  <linearGradient id="a" x1="22.26" x2="129.74" y1="22.26" y2="129.74" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#fae100" />
                    <stop offset=".15" stop-color="#fcb720" />
                    <stop offset=".3" stop-color="#ff7950" />
                    <stop offset=".5" stop-color="#ff1c74" />
                    <stop offset="1" stop-color="#6c1cd1" />
                  </linearGradient>
                  <g data-name="Layer 2">
                    <g data-name="03.Instagram">
                      <rect width="152" height="152" fill="url(#a)" data-original="url(#a)" rx="76" />
                      <g fill="#fff">
                        <path fill="#ffffff10" d="M133.2 26c-11.08 20.34-26.75 41.32-46.33 60.9S46.31 122.12 26 133.2q-1.91-1.66-3.71-3.46A76 76 0 1 1 129.74 22.26q1.8 1.8 3.46 3.74z" data-original="#ffffff10" />
                        <path d="M94 36H58a22 22 0 0 0-22 22v36a22 22 0 0 0 22 22h36a22 22 0 0 0 22-22V58a22 22 0 0 0-22-22zm15 54.84A18.16 18.16 0 0 1 90.84 109H61.16A18.16 18.16 0 0 1 43 90.84V61.16A18.16 18.16 0 0 1 61.16 43h29.68A18.16 18.16 0 0 1 109 61.16z" data-original="#ffffff" />
                        <path d="m90.59 61.56-.19-.19-.16-.16A20.16 20.16 0 0 0 76 55.33 20.52 20.52 0 0 0 55.62 76a20.75 20.75 0 0 0 6 14.61 20.19 20.19 0 0 0 14.42 6 20.73 20.73 0 0 0 14.55-35.05zM76 89.56A13.56 13.56 0 1 1 89.37 76 13.46 13.46 0 0 1 76 89.56zm26.43-35.18a4.88 4.88 0 0 1-4.85 4.92 4.81 4.81 0 0 1-3.42-1.43 4.93 4.93 0 0 1 3.43-8.39 4.82 4.82 0 0 1 3.09 1.12l.1.1a3.05 3.05 0 0 1 .44.44l.11.12a4.92 4.92 0 0 1 1.1 3.12z" data-original="#ffffff" />
                      </g>
                    </g>
                  </g>
                </svg>
              </a>
            </li>
          </ul>
          </div>

          <div>
            <h4 class="text-base mb-4 text-white">Lien utile</h4>
            <ul class="space-y-4">
              <li>
                <a href="javascript:void(0)" class="text-slate-400 hover:text-white text-sm">Accueil</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text-slate-400 hover:text-white text-sm">Téléchargement</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text-slate-400 hover:text-white text-sm">Contact</a>
              </li>
            </ul>
          </div>

          <div>
            <h4 class="text-base mb-4 text-white">Information</h4>
            <ul class="space-y-4">
              <li>
                <a href="javascript:void(0)" class="text-slate-400 hover:text-white text-sm">À propos</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text-slate-400 hover:text-white text-sm">Condition d'utilisation</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text-slate-400 hover:text-white text-sm">Documentation</a>
              </li>
            </ul>
          </div>
        </div>

        <p class="text-slate-400 text-sm mt-10">© OBCAST. All rights reserved.
        </p>
      </div>
    </footer>



    {% comment %} load js  {% endcomment %}
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

</body>
</html>